.gradle/
.kotlin/
build/
*/build/

local.properties

*.apk
*.aab
*.ap_
*.dex

*.jks
*.keystore
*.pem
*.p12
*.mobileprovision

.idea/
*.iml

phonebridge/libs/*.aar
phonebridge/libs/*.jar
!phonebridge/libs/.gitkeep
